@import url('https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker&display=swap');

/* font-family: 'Permanent Marker', cursive;
font-family: 'Montserrat', sans-serif; */

.App {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 65px 165px 1fr 65px;
  grid-template-areas:
    "Nav Nav Nav Nav"
    "Buttons Buttons Buttons Buttons"
    "Main Main Main Main"
    "Footer Footer Footer Footer"
}

.NavComponent {
  width: 100%;
  height: 65px;
  grid-area: Nav;
  position: fixed;
}

.ButtonsComponent {
  grid-area: Buttons;
}

.MainComponent {
  grid-area: Main;
  display: flex;
  justify-content: center;
}

.FooterComponent {
  grid-area: Footer;
}

.ingredients {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-wrap: wrap;
}
