.TimeComponent {
  font-family: 'Permanent Marker', cursive;
  background-color: #F2ECD8;
  width: 100%;
  display: flex;
  justify-content: center;
}

.TimeComponent form {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column
}

.formRow {
  margin-bottom: 20px;
}
